<% if message.sender == current_user %>
  <div class="message" style="margin-left: 40%;">
<% else %>
  <div class="message">
<% end %>
  <div class="user-name"> <%= message.sender.email%></div>
  <div class="message_content"><%= message.content %></div>
</div>
