      <div class="chat-box-online-div">
    <div class="chat-box-online-head">
        USERS
    </div>
    <div class="panel-body chat-box-online">
        <div class="chat-box-online-right">
            User1
        </div>
        <hr class="hr-clas-low" />
        <div class="chat-box-online-right">
            User2
        </div>
        <hr class="hr-clas-low" />
        <div class="chat-box-online-right">
            User3
        </div>
        <hr class="hr-clas-low" />

        <div class="chat-box-online-right">
            User4
        </div>
        <hr class="hr-clas-low" />
        <div class="chat-box-online-right">
            User5
        </div>
        <hr class="hr-clas-low" />

        <div class="chat-box-online-right">
            User6
        </div>
        <hr class="hr-clas-low" />
        <div class="chat-box-online-right">
            User7
        </div>
        <hr class="hr-clas-low" />

        <div class="chat-box-online-right">
            User8
        </div>
        <hr class="hr-clas-low" />
    </div>
</div>
</div>