<% if !user_signed_in? %>

<%= render partial: "slider" %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Lorem ipsum
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4><i class="fa fa-fw fa-check"></i> Bądź na bieżąco</h4>
                    </div>
                    <div class="panel-body">
                        <p>Bądź na bieżąco w swojej firmie. Dzięki aplikacji będziesz miał dostęp do wszelkich informacji udostępnianych przez pracowników twojej firmy.</p>
                        <a href="#" class="btn btn-default">Dowiedz się więcej</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4><i class="fa fa-fw fa-gift"></i> Inteligentnie zarządzaj wolnym czasem w pracy</h4>

                    </div>
                    <div class="panel-body">
                        <p>Rozwijaj swoje umiejętności logiczne oraz zręcznościowe rywalizując z innymi pracownikami. </p>
                        <a href="#" class="btn btn-default">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Łatwa w obsłudze</h4>
                    </div>
                    <div class="panel-body">
                        <p>Aplikacja jest prosta w obsłudze dla młodszych jak i starszych pracowników. Dzięki temu nie napotkamy żadnej bariery przy korzystaniu z niej </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Our projects </h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">  Lorem ipsum </h2>
            </div>
            <div class="col-md-6">
                <p> Lorem ipsum </p>
                <ul>
                    <li><strong> Lorem ipsum </strong>
                    </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        
        <hr>
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>
    </div>

    <script>

    $('.carousel').carousel({
        interval: 5000 
    })

    </script>


<% else %>

   
<% end %>

