<div class = "container" style="margin-top: 50px">
  <% @posts.each do |p| %>
      <blockquote>
        <p> <%= p.description %> </p>
        <footer> <%= p.user.first_name %> <%= p.user.last_name %> </footer>
      </blockquote>
  <% end %>
</div>
