/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-sprockets";
@import "bootstrap";


#chat_nav{
  position: fixed;
  right: 0;
  width: 12%;
  height: 90vh;
  z-index: 99999999;
  background-color: rgba(240,240,240,0.8);
  margin-top: -20px;
}

.message{
  background-color: rgba(40,40,40,0.8);
  color: white;
  padding: 5px;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 50%;
}

.chat{
  position: fixed;
  bottom: 0;
  right: 10%;
  background-color: rgba(10,10,10,0.9);
  height:25vh;
  width:20%;
  z-index: 9999;
}
.chat_name{

}
.chat_content{
  padding: 15px;
  width: 100%;
  min-height: 500px;
  background-color: white;
}
.chat_input{
  width: 400px;
  margin-top: 30px;
  input {
    width: 100%;
    height: 40px;
  }
}

.client{
  width:100%;
  height: 5%;
  margin: 3% auto;
  padding-left: 10px;
}

.hr-clas-low {
    border-top: 1px solid #C5C5C5;
}

// KURWA CZAT

.chat-box-online {
    height: 100vh;
    overflow: auto;
  

}

.chat-box-online-div {
    border: 2px solid black;
    border-bottom: 2px solid black;
    float: right;;
}

.chat-box-online-head {
    padding: 10px 15px;
    border-bottom: 2px solid black;
    background-color: black;
    color: #fff;
    text-align: center;
}

.chat-box-online-right {
    margin-right: 10px;
    text-align: right;
    color: #354EA0;
}

.chat-box-online-right img {
    max-width: 30px;
    border: 1px solid #354EA0;
    margin-bottom: 10px;
}